div.Meme {
  display: flex;
  flex-direction: row;
  background-color: #1D1F22;
  border-bottom: 0.05rem solid #AAAAAA;
  border-right: 0.05rem solid #AAAAAA;
  min-width: 28rem;
  max-width: 80%;
}
.Meme div#meme-body {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Meme div#meme-header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0.4rem;
  align-items: flex-end;
}
.Meme div#meme-footer {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 10rem 0.2rem 0.4rem;
  justify-content: flex-start;
  align-items: flex-end;
}
.Meme img#profile-pic {
  width: 3rem;
  height: auto;
  border-radius: 100%;
  margin: 0.4rem;
}

.Meme p#meme-text {
  display: flex;
  margin: 0 1.2rem 0 0.4rem;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.84rem;
  font-weight: 500;
  color: #CCDDCC;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  text-align: start;
  word-wrap: break-word;
  white-space: break-spaces;
  z-index:8;
  max-height: 30rem;
}
.Meme p#meme-text span {
  font-family: 'Arial', sans-serif;
  font-size: 0.84rem;
  font-weight: 500;
  word-wrap: break-word;
  white-space: break-spaces;
}

.Meme p#meme-text span#plain {
  color: #CCDDCC;
  margin: 0;
}
.Meme p#meme-text a#at,
.Meme p#meme-text a#hash {
  margin: 0;
  color: #00CC89;
  text-decoration: none;
}
.Meme p#meme-text a#at:hover,
.Meme p#meme-text a#hash:hover {
  color: #00CC89;
  text-decoration: underline;
}

.Meme a#username {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  color: #CCDDCC;
  font-size: 0.9rem;
  margin: 0 0.3rem 0 0;
  text-decoration: none;
}
.Meme a#username:hover {
  text-decoration: underline;
}
.Meme span {
  font-family: 'Avenir', sans-serif;
  font-size: 0.7rem;
  margin: 0 0.3rem;
  color: #667777;
}
.Meme div#meme-footer p span {
  color: #FFFFFF;
}
.Meme div#meme-footer p {
  margin: 0.15rem 2rem 0.15rem 0.15rem;
  padding: 0.2rem;
  border-radius: 1rem;
  position: relative;
  filter: invert(0.4);
}
.Meme p span {
  margin: 0 0.1rem 0 0.4rem;
}

.Meme p#reply-button {
  animation-name: reply-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
.Meme p#reply-button:hover {
  filter: sepia(1) brightness(0.43) saturate(10000%) hue-rotate(85deg);
  animation-name: reply-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.Meme p#like-button {
  animation-name: like-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
.Meme p#like-button:hover {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
  animation-name: like-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.Meme p#rememe-button {
  animation-name: rememe-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
.Meme p#rememe-button:hover {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(140deg);
  animation-name: rememe-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.Meme p#upvote-button {
  margin: 0.15rem 4rem 0.15rem 0.15rem;
  animation-name: upvote-out;
  animation-duration: 0.4444s;
  animation-timing-function: ease-out;
}
.Meme p#upvote-button:hover {
  filter: sepia(1) brightness(0.43) saturate(10000%) hue-rotate(310deg);
  animation-name: upvote-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.Meme p#downvote-button {
  animation-name: downvote-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  transform: rotate(180deg);
}
.Meme p#downvote-button:hover {
  filter: sepia(1) brightness(0.43) saturate(10000%) hue-rotate(180deg);
  animation-name: downvote-in;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}
.Meme img#upvote-button,
.Meme img#downvote-button {
  margin-right: 3rem;
}

@keyframes reply-in {
  from {
    filter: invert(0) sepia(0) brightness(0.7) saturate(0) hue-rotate(85deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(85deg);
  }
}
@keyframes reply-out {
  from {
   filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(85deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.6) saturate(0) hue-rotate(85deg);
  }
}
@keyframes like-in {
  from {
    filter: invert(0) sepia(0) brightness(0.7) saturate(0) hue-rotate(285deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
  }
}
@keyframes like-out {
  from {
   filter: invert(0) sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.6) saturate(0) hue-rotate(285deg);
  }
}
@keyframes rememe-in {
  from {
    filter: invert(0) sepia(0) brightness(0.7) saturate(0) hue-rotate(140deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(140deg);
  }
}
@keyframes rememe-out {
  from {
   filter: invert(0) sepia(1) brightness(0.4) saturate(10000%) hue-rotate(140deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.6) saturate(0) hue-rotate(140deg);
  }
}
@keyframes upvote-in {
  from {
    filter: invert(0) sepia(0) brightness(0.7) saturate(0) hue-rotate(310deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(310deg);
  }
}
@keyframes upvote-out {
  from {
   filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(310deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.6) saturate(0) hue-rotate(310deg);
  }
}
@keyframes downvote-in {
  from {
    filter: invert(0) sepia(0) brightness(0.7) saturate(0) hue-rotate(180deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(180deg);
  }
}
@keyframes downvote-out {
  from {
   filter: invert(0) sepia(1) brightness(0.43) saturate(10000%) hue-rotate(180deg);
  }
  to {
    filter: invert(0) sepia(1) brightness(0.6) saturate(0) hue-rotate(180deg);
  }
}
/*
@keyframes bobble {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
*/
