p.LikeButtonMain {
  cursor: pointer;
}
p.LikeButtonMain:hover {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
}
p.LikeButtonMain-Liked {
  cursor: pointer;
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
}
p.LikeButtonMain-Liked:hover {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
}
