.ThreadMemeMain p#like-button-liked.like,
.ThreadMemeMain p#like-button.like {
  margin: 0;
}
.Meme p#like-button-liked.like,
.ThreadMeme p#like-button-liked.like,
.ThreadMemeMain p#like-button-liked.like {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
  cursor: pointer;
}
p#like-button {
  cursor: pointer;
}
p#like-button:hover {
  filter: sepia(1) brightness(0.4) saturate(10000%) hue-rotate(285deg);
}
