div.ChildMeme-Parent {
  max-width: 38rem;
  border-right: 0.05rem solid #AAAAAA;
}
div.ChildMeme {
  background-color: #1D1F22;
  overflow: hidden;
}
div.ChildMeme:hover {
  background-color: #313131;
  cursor: pointer;
}
.ChildMeme div#ChildMeme-container {
  display: flex;
  margin: 0 1rem;
}
.ChildMeme div#ChildMeme-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-wrap: break-word;
}
.ChildMeme div#ChildMeme-header {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.1rem 0 0.5rem 0;
  align-items: flex-end;
}
.ChildMeme div#ChildMeme-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.2rem auto 0.2rem 0;
  justify-content: flex-start;
  align-items: flex-end;
  height: 2rem;
}
.ChildMeme img#profile-pic {
  width: 3rem;
  height: auto;
  border-radius: 100%;
  margin: 0;
  border: 0.05rem solid rgb(0,0,0,0);
  transition: border 0.4s;
  transform: translateX(-0.3rem);
}
.ChildMeme div#profilePic {
  height: 3.125rem;
}
.ChildMeme img#profile-pic:hover {
  border: 0.05rem solid rgb(255,255,255, 1);
  transition: border 0.4s;
}
.ChildMeme section#profilePic {
  margin: 0 0.1rem 0 0;
  height: inherit;
}

.ChildMeme p#ChildMeme-text {
  display: flex;
  margin: 0 0.3rem 0 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #CCDDCC;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  text-align: start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-all;
}
.ChildMeme p#ChildMeme-text span {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: inherit;
  margin: 0;
  word-wrap: break-word;
  white-space: break-spaces;
}

.ChildMeme p#ChildMeme-text span#plain {
  color: #CCDDCC;
  margin: 0;
  overflow-wrap: break-word;
  width: inherit;
}
.ChildMeme p#ChildMeme-text a#at,
.ChildMeme p#ChildMeme-text a#hash {
  margin: 0;
  color: #00CC89;
  text-decoration: none;
  width: inherit;
}
.ChildMeme p#ChildMeme-text a#at:hover,
.ChildMeme p#ChildMeme-text a#hash:hover {
  color: #00CC89;
  text-decoration: underline;
  width: inherit;
}

.ChildMeme a#username {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  text-align: left;
  color: #CCDDCC;
  font-size: 1.05rem;
  margin: 0 0.4rem 0 0;
  text-decoration: none;
  word-break: break-word;
}
.ChildMeme a#username:hover {
  text-decoration: underline;
}
.ChildMeme span {
  font-family: 'Avenir', sans-serif;
  font-size: 0.8rem;
  color: #667777;
}
.ChildMeme div#ChildMeme-footer p span {
  color: #FFFFFF;
}
.ChildMeme div#ChildMeme-footer p {
  margin: 0.15rem;
  padding: 0.2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 2rem;
  justify-content: space-between;
  border-radius: 1rem;
  position: relative;
  filter: invert(0.4);
}
.ChildMeme p span {
  margin: 0 0.1rem 0 0.4rem;
  overflow-wrap: break-word;
}
.ChildMeme span#address {
  margin: 0 0.4rem 0 0;
  word-break: break-word;
}
.ChildMeme span#time {
  margin: 0 0.4rem 0 0;
  word-break: break-word;
}

.ChildMeme div.vl {
  transform: translateX(-0.25rem);
  border-left: 0.12rem solid #667777;
  margin: 0 auto;
  width: 0;
  height: 100%;
}
.ChildMeme-Parent div.show-replies {
  display: flex;
  flex-direction: row;
  background-color: #1D1F22;
  cursor: pointer;
  height: min-content;
}
.ChildMeme-Parent p#show-replies {
  margin: 0 auto;
  padding: 0.8rem 3rem 0.8rem 0;
}
.ChildMeme-Parent div.dotted-line {
  transform: rotate(90deg);
  letter-spacing: 0.2rem;
  height: 0.05rem;
  font-family: Arial, sans-serif;
  font-size: 1.01rem;
  align-items: center;
  margin: 1rem 0 auto 2.092rem;
  white-space: pre;
  color: #667777;
}
.ChildMeme-Parent div#spinning-loader {
  margin: 0 auto;
}
