div.ThreadMemeMain {
  display: flex;
  flex-direction: row;
  background-color: #1D1F22;
  border-bottom: 0.05rem solid #AAAAAA;
  border-right: 0.05rem solid #AAAAAA;
  min-width: 28rem;
  max-width: 80%;
}
div.ThreadMemeMain:hover {
  background-color: #313131;
  cursor: pointer;
}
.ThreadMemeMain div#ThreadMemeMain-body {
  display: flex;
  min-width: 24.2rem;
  max-width: 100%;
  flex-direction: column;
  overflow-wrap: break-word;
}
.ThreadMemeMain div#ThreadMemeMain-header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0.4rem;
  align-items: flex-end;
}
.ThreadMemeMain div#ThreadMemeMain-footer {
  display: flex;
  flex-direction: row;
  margin: 0.2rem 10rem 0.2rem 0.4rem;
  justify-content: flex-start;
  align-items: flex-end;
}
.ThreadMemeMain img#profile-pic {
  width: 3rem;
  height: auto;
  border-radius: 100%;
  margin: 0;
  border: 0.05rem solid rgb(0,0,0,0);
  transition: border 0.4s;
}
.ThreadMemeMain img#profile-pic:hover {
  border: 0.05rem solid rgb(255,255,255, 1);
  transition: border 0.4s;
}
.ThreadMemeMain section#profilePic {
  margin: 0.3rem 0.1rem 0 0.4rem;
}

.ThreadMemeMain p#ThreadMemeMain-text {
  display: flex;
  margin: 0 1.2rem 0 0.4rem;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 0.84rem;
  font-weight: 500;
  color: #CCDDCC;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  text-align: start;
  word-wrap: break-word;
  white-space: break-spaces;
  word-break: break-all;
  max-height: 30rem;
}
.ThreadMemeMain p#ThreadMemeMain-text span {
  font-family: 'Arial', sans-serif;
  font-size: 0.84rem;
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
  white-space: break-spaces;
}

.ThreadMemeMain p#ThreadMemeMain-text span#plain {
  color: #CCDDCC;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-spaces;
  width: inherit;
}
.ThreadMemeMain p#ThreadMemeMain-text a#at,
.ThreadMemeMain p#ThreadMemeMain-text a#hash {
  margin: 0;
  color: #00CC89;
  text-decoration: none;
}
.ThreadMemeMain p#ThreadMemeMain-text a#at:hover,
.ThreadMemeMain p#ThreadMemeMain-text a#hash:hover {
  color: #00CC89;
  text-decoration: underline;
}

.ThreadMemeMain a#username {
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  color: #CCDDCC;
  font-size: 0.9rem;
  margin: 0 0.3rem 0 0;
  text-decoration: none;
}
.ThreadMemeMain a#username:hover {
  text-decoration: underline;
}
.ThreadMemeMain span {
  font-family: 'Avenir', sans-serif;
  font-size: 0.7rem;
  margin: 0 0.3rem;
  color: #667777;
}
.ThreadMemeMain div#ThreadMemeMain-footer p span {
  color: #FFFFFF;
}
.ThreadMemeMain div#ThreadMemeMain-footer p {
  margin: 0.15rem 2rem 0.15rem 0.15rem;
  padding: 0.2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 2rem;
  border-radius: 1rem;
  position: relative;
  filter: invert(0.4);
}
.ThreadMemeMain p span {
  margin: 0 0.1rem 0 0.4rem;
}
