nav.navbar {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  width: 14rem;
}
.navbar small{
  transition: background-color 0.2s ease-in-out 0s;
  margin: 0 auto;
  align-items: center;
  border-radius: 4rem;
}
.navbar small:hover {
  background-color: #1D1F22;
  transition: background-color 0.2s ease-in-out 0s;
  animation-name: swellNav1;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
}
.navbar small:active {
  animation-name: swellNav2;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.navbar small#pages {
  font-size: 1.2rem;
  padding: 0.6rem;
  align-items: center;
}

.navbar a:link {
  color: #00CC89;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}
.navbar a:hover {
  color: #00CC89;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}
.navbar a:visited {
  color: #00CC89;
  text-decoration: none;
}
.navbar a:active {
  color: lightgrey;
}

/* logo */
.navbar small#logo {
  margin: 0.35rem auto;
  cursor: pointer;
}
.navbar p#logo {
  margin: 0;
}
.navbar img#logo {
  font-size: 1rem;
  color: #00CC89;
  margin: 0.2rem auto 0 auto;
  padding: 0.9rem 0.7rem 0.5rem 0.7rem;
  width: 4rem;
}
.navbar img#logo:active {
  animation-name: blurExtra;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
/* page links */
.navbar small#pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #00CC89;
  font-size: 1.5rem;
  margin: 0 auto 0 1rem;
  padding: 0;
}
.navbar small#pages p {
  margin: 0;
  padding: 0.6rem;
  line-height: 0;
}
.navbar small#pages a {
  display: block;
  margin: 0;
  padding: 0;
  white-space: pre;
  align-items: center;
}
.navbar small#pages img#icon {
  margin: 0 1rem 0 0;
}
.navbar small#pages a > * {
  vertical-align: middle;
}
.navbar small#pages a span#link {
  margin-top: 0.2rem;
}

/* link-specific settings */
.navbar p#home a {
  padding: 0.06rem 0.2rem 0.058rem 0.2rem;
}
.navbar p#profile a {
  padding: 0.1rem 0.2rem 0.1rem 0;
}
.navbar p#profile img#icon {
  transform: translateY(-0.1rem);
  padding-left: 0.2rem;
  padding-bottom: 0.01rem;
}
.navbar p#settings a {
  padding: 0.1rem 0.2rem 0.1rem 0;
}
.navbar p#settings img#icon {
  padding-left: 0.2rem;
  padding-bottom: 0.01rem;
  margin-right: 0.8rem;
}

/* meme button */
.navbar p#meme{
  display: flex;
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #00CC89;
  padding: 0.5rem 2rem;
  margin: 1rem 0.3rem;
  border-radius: 3rem;
  transition: background-color 0.2s ease-in-out 0s;
}
.navbar p#meme:hover {
  background-color: #00AB79;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out 0s;
  animation-name: swellNav1;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
}
.navbar p#meme:active {
  background-color: #00CC89;
  transition: background-color 0.2 ease-in-out 0s;
}
.navbar p#meme span {
  margin: 0 auto;
}



@keyframes swellNav1 {
  from {
    transform: scale(1);
  }
  33% {
    transform: scale(0.96);
  }
  66% {
    transform: scale(1.01);
  }
  to {
    transform: scale(1);
  }
}
@keyframes swellNav2 {
  from {
    transform: scale(1);
  }
  33% {
    transform: scale(0.98);
  }
  66% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
@keyframes blurExtra {
  from {
  }
  66% {
    filter: blur(1px);
  }
  to {
    filter: blur(0px);
  }
}
