nav.navbar {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top:0;

  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.navbar img#logo {
  font-size: 1rem;
  color: #00CC89;
  margin: 0.2rem auto 0.2rem auto;
  padding: 0.63rem 0.7rem 0.4rem 0.7rem;
}
.navbar img#logo:active {
  animation-name: blurExtra;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.navbar p{
  display: block;
  font-size: 1.5rem;
  color: #FFFFFF;
  background-color: #00CC89;
  padding: 0.5rem 2rem;
  margin: 1rem;
  border-radius: 3rem;
  transition: background-color 0.2s ease-in-out 0s;
}
.navbar p:hover {
  background-color: #00AB79;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out 0s;
  animation-name: swellNav1;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
}
.navbar p:active {
  background-color: #00CC89;
  transition: background-color 0.2 ease-in-out 0s;
}

.navbar small{
  transition: background-color 0.2s ease-in-out 0s;
  margin: 0 auto;
  border-radius: 1rem;
}
.navbar small:hover {
  background-color: #1D1F22;
  transition: background-color 0.2s ease-in-out 0s;
  animation-name: swellNav1;
  animation-duration: 0.33s;
  animation-timing-function: ease-in-out;
}
.navbar small:active {
  animation-name: swellNav2;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}
.navbar small#logo {
  margin: 0.35rem auto;
}
.navbar small#pages {
  font-size: 1.2rem;
  padding: 0.6rem;
}

.navbar a:link {
  color: #00CC89;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}
.navbar a:hover {
  color: #00CC89;
  transition: color 0.125s ease-in-out 0s;
  text-decoration: none;
}
.navbar a:visited {
  color: #00CC89;
  text-decoration: none;
}
.navbar a:active {
  color: lightgrey;
}


@keyframes swellNav1 {
  from {
    transform: scale(1);
  }
  33% {
    transform: scale(0.96);
  }
  66% {
    transform: scale(1.01);
  }
  to {
    transform: scale(1);
  }
}
@keyframes swellNav2 {
  from {
    transform: scale(1);
  }
  33% {
    transform: scale(0.98);
  }
  66% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
@keyframes blurExtra {
  from {
  }
  66% {
    filter: blur(1px);
  }
  to {
    filter: blur(0px);
  }
}
