div.Enter {
  margin: auto;
}
article.Enter {
  margin: 0 auto 10rem auto;
}
.Enter img {
  opacity: 0;
  margin: 1rem auto;
  max-width: 20rem;
}

.Enter p {
  line-height: 2rem;
}

.Enter p#title{
  opacity: 0;
  font-size: 5rem;
  line-height: 4rem;
  font-family: 'MuseoModerno', sans-serif;
  margin: 2rem auto 1rem auto;
}

.Enter p#p1 {
  opacity: 0;
}
.Enter p#p2 {
  opacity: 0;
}
.Enter p#p3 {
  opacity: 0;
}
.Enter p#p4 {
  opacity: 0;
}

