div.ReplyInThread#ReplyInThread {
  margin: 0 1rem 1rem 1rem;
}
.ReplyInThread div#background {
  background-color: #AABBBB;
}
.ReplyInThread div#reply-container {
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  width: inherit;
  display: flex;
  opacity: 1;
  flex-wrap: wrap;
  flex-direction: column;
}
.ReplyInThread form#reply-form {
  position: relative;
}
.ReplyInThread form#reply-form div#reply-text-box {
  position:relative;
  margin: 0.4rem 0.2rem 0.2rem 0;
  width: inherit;
  min-width: 12rem;
  width: 100%;
  word-wrap: break-word;
  min-height: 1.5rem;
}

.ReplyInThread section#reply-header {
  width: 100%;
}
.ReplyInThread section#reply-body {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  color: #CCDDCC;
}
.ReplyInThread div#reply-profilePic img#profile-pic {
  width: 2.5rem;
  height: auto;
  border-radius: 100%;
  margin: 0.4rem 0.8rem 0 0.05rem;
}
.ReplyInThread textarea#reply-text {
  border: none;
  outline: none;
  position: absolute;
  width: inherit;
  background: rgb(0,0,0,0);
  caret-color: #667777;
  box-shadow: none;
  color: rgb(0,0,0,0);
  font-family: 'Avenir', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  resize: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: break-spaces;
  z-index:10;
  overflow: visible;
}
.ReplyInThread div#reply-text-box p#text-box {
  position: relative;
  justify-content: flex-start;
  border: none;
  box-shadow: none;
  color: #CCDDCC;
  font-family: 'Avenir', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: inherit;
  text-align: start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: break-spaces;
  z-index:8;
}
.ReplyInThread p#text-box span {
  margin: 0 auto 0 0;
  color: #CCDDCC;
  font-family: 'Avenir', sans-serif;
  letter-spacing: 0.01rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin:0;
  padding: 0;
  width: inherit;
  text-align: start;
  word-wrap: break-word;
  white-space: break-spaces;
  z-index:8;
  max-height: 30rem;
}
.ReplyInThread p#text-box span {
  color: #CCDDCC;
  font-size: 1.4rem;
  font-weight: 500;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: break-spaces;
}

.ReplyInThread p#text-box span#plain {
  color: #CCDDCC;
}
.ReplyInThread p#text-box span#at {
  color: #00CC89;
  word-wrap: break-word;
  white-space: break-spaces;
}

.ReplyInThread p#text-box span#plain {
  color: #CCDDCC;
}
.ReplyInThread p#text-box span#at {
  color: #00CC89;
}
.ReplyInThread p#text-box span#hash {
  color: #00CC89;
}

.ReplyInThread textarea#reply-text::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.ReplyInThread div#reply-button-box {
  margin-left: auto;
  width: 5rem;
  justify-content: flex-end;
}

.ReplyInThread p#reply-submit {
  justify-content: center;
  font-size: 1rem;
  font-weight: 800;
  background-color: #334646;
  color: #AABBAA;
  padding: 0.45rem 0.4rem 0.5rem 0.4rem;
  margin: 0 0 auto 0;
  border-radius: 2rem;
  transition: background-color 0.15s;
}
