/*
.enterLogo img {
  transition: background-color 2s ease-in-out;
  padding: 3rem;
  border-radius: 5rem;
}
.enterLogo img:hover {
  background-color: #222222;
  transition: background-color 2s ease-in-out;
}
*/
